<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mingle.mapper.CodyMapper">
	<select id="cody_boardData" resultType="com.project.mingle.vo.CodyTestVO">
		select item_name, item_image, item_no, item_detail, item_category from item 
		<where>
		item_detail = '${detail}'
		<if test="gender == 1">and item_category!=2 limit 10</if>
		<if test="gender == 2">and item_category!=1 limit 10</if>
		</where>
	</select>
	<select id="getgender" resultType="com.project.mingle.vo.UserVO">
		select *  from users where user_id =#{ userid} ;

	</select>
</mapper>