<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mingle.mapper.MypageMapper">

	<!-- 회원정보 확인 -->
	<select id="iddcheck" resultType="com.project.mingle.vo.UserVO">
		select * from users where #{column} = #{data}
	</select>
	<!-- 일부회원정보 수정 -->
	<update id="userPut">
		update users set #{column} =  #{data} where user_id=#{user_id}
	</update>
</mapper>
