<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mingle.mapper.MypageMapper">

	<!-- 회원정보 확인 -->
	<select id="ddDataCheck"
		resultType="com.project.mingle.vo.UserVO">
		select * from users where ${param1} = #{param2}
	</select>
	<!-- 일부회원정보 수정 -->
	<update id="userPut">
		update users set ${param2} = #{param3} where
		user_id=#{param1}
	</update>
	<!-- 일부회원정보 수정 -->
	<delete id="userOut">
		delete from users where user_id=#{param1}
	</delete>
	<!-- 게시글 가져오기 시작 -->
	<select id="getMyRequest" resultType="com.project.mingle.vo.mypage.MyRequestVO">
	
		select request_no, request_name, date_format(request_writedate, '%Y-%m-%d %h:%i:%s') request_writedate
		from request 
		where user_id = #{userid} AND request_no &lt; #{offset}
		order by request_writedate desc 	limit #{limit}		 
	</select>
	
	<select id="getMyResell" resultType="com.project.mingle.vo.mypage.MyResellVO">
		select resell_no, resell_name, date_format(resell_writedate, '%Y-%m-%d %h:%i:%s') resell_writedate
		from resell 
		where resell_seller = #{userid}  AND resell_no &lt; #{offset} 
		order by resell_writedate desc limit #{limit} 
	</select>
	
	<select id="getMyReStyle" 	resultType="com.project.mingle.vo.mypage.MyStyleVO">
		select style_no, style_name, date_format(style_writedate, '%Y-%m-%d %h:%i:%s') style_writedate
		from style 
		where user_id = #{userid} AND style_no &lt; #{offset}  
		order by style_writedate desc  limit #{limit} 
	</select>
	<!-- 게시글 가져오기 끝 -->
	
	<!-- 댓글 가져오기 -->
	<select id="getMyRequestReply" resultType="com.project.mingle.vo.mypage.MyRequestReplyVO">
	
		SELECT
            rr.request_reply_no,
            rr.request_no,
            rr.user_id,
            rr.request_reply_comment,
            DATE_FORMAT(rr.request_reply_writedate, '%Y-%m-%d %H:%i:%s') AS request_reply_writedate,
            r.request_name
        FROM
            mingledb.request_reply rr
        LEFT JOIN
            mingledb.request r ON rr.request_no = r.request_no
        WHERE
            rr.user_id = #{userid} 
		AND request_reply_no &lt; #{offset}
		order by request_reply_writedate  desc limit #{limit}		 
	</select>
	
	<select id="getMyReStyleReply" 	resultType="com.project.mingle.vo.mypage.MyStyleReplyVO">
		SELECT
            sr.style_reply_no,
            sr.style_no,
            sr.user_id,
            sr.style_reply_comment,
            DATE_FORMAT(sr.style_reply_writedate, '%Y-%m-%d %H:%i:%s') AS style_reply_writedate,
            s.style_name
        FROM
            mingledb.style_reply sr
        LEFT JOIN
            mingledb.style s ON sr.style_no = s.style_no
        WHERE
            sr.user_id = #{userid}
            AND style_reply_no &lt; #{offset}  
		order by style_reply_writedate desc  limit #{limit} 
	</select>
	
	
	<!-- 댓글 가져오기  끝-->
	
	
	
	
	
	
</mapper>
