<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 깃헙패키지 생성용 xml 파일 
mybatis.mapper에 파일생성후 삭제  -->
<mapper namespace="com.project.mingle.mapper.StyleMapper">
	<insert id ="boardInsert">
		insert into style(style_name, user_id, style_image)
		values(#{style_name}, #{user_id}, #{style_image})
	</insert>
</mapper>