/*font*/
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HakgyoansimGaeulsopungB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimGaeulsopungB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/*__________________*/
/*home*/
#page_home{
	width: 100%;
}

/*banner*/
#background_homeBanner{
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	background: black;
}

#banner_body a{
  color: #111
}

.photo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.photo img{
  width: 1000px;
  object-fit: cover;
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
  margin-top: 0;
}

#banner_body h1{
  position: absolute;
  z-index: 1;
  transform: translate(200%, -25%);
  font-family: 'Montserrat', sans-serif;
  margin: 0;/*200*/
  line-height: 1.2;
  color: white;
  font-size: 80px;
  text-shadow: 4px 4px 4px gray;
  width: auto;
}

/*text*/
#text_homeBanner{
  text-transform: uppercase;
  font-size: 20px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 100px; 
  color: white;
  text-align: center;
}
#text_homeBanner:hover{
	transform: scale(0.93) translate(0, 20px);
  	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*main content*/
#category_homeresell{
	width: 1340px;
	height: 140px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#category_homeresell li{
	width: 263px;
	height: 110px;
	border-radius: 7px;
	/*background:blue;*/
	box-shadow: 1px 1px 5px 0 rgb(192, 192, 192);
}

/*men_category*/
.main-content {
  overflow:hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 110px;
    background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
    color: #fff;
    text-align: center;
    border-radius: 7px;
}

.vignette{
  position:absolute;
  width:100%; height:100%;
  box-shadow:inset 0px 0px 150px 20px black;
  mix-blend-mode: multiply;
  -webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
  -moz-animation:    vignette-anim 3s infinite; /* Fx 5+ */
  -o-animation:      vignette-anim 3s infinite; /* Opera 12+ */
  animation:         vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
  border-radius: 7px;
}

.noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .15;
}

.titleCont{position:relative; }

.main-title {
    padding: .3em 1em .25em;    
    font-weight: 400;
    font-size: 40px;
    color: white;
    font-family: 'Bellefair', serif;
    position:relative;
    line-height:1.3;
}

.overTitle{
    position:absolute;
    top:0;
    left:0;
}

.dot{
  width:3px;
  height:2px;
  background-color:white;
  position:absolute;
  opacity:0.3;
}


@-webkit-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-moz-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-o-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
/*women_category*/
#body_women_HC{margin:0;padding:0;height:110px; border-radius: 7px;}
#body_women_HC{
  background:url("/mingle/img/home/women_bg.jpg");
  background-size:cover;
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#svg_women_HC{font-weight:bold;max-width:600px;height:auto;}

/*shoes*/
#body_shoes_HC{
  height: 100%;
  font-weight: 800;
  margin: 0;
  padding: 0;
  background:url("/mingle/img/home/shoes_bg.jpg");
  background-size:cover;
  border-radius: 7px;
}
.container {
  display: flex;
/*   border:1px solid red; */
  height: 100%;
  align-items: center;
}
#body_shoes_HC svg {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 250px;
    width: 960px;
    height: 300px;
    margin: 0 auto;
}
.text-copy {
    fill: none;
    stroke: black;
    stroke-dasharray: 11% 24%;
    stroke-width: 9px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}
.text-copy:nth-child(1){
	stroke: purple;
	animation-delay: -1;
}
.text-copy:nth-child(2){
	stroke: red;
	animation-delay: -2s;
}
.text-copy:nth-child(3){
	stroke: yellow;
	animation-delay: -3s;
}
.text-copy:nth-child(4){
	stroke: green;
	animation-delay: -4s;
}
.text-copy:nth-child(5){
	stroke: blue;
	animation-delay: -5s;
}
@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/*bag*/
#bag_HC { 
	width: 263px;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	background:url("/mingle/img/home/bag_bg.jpg");
  	background-size:cover;
	overflow:hidden; 
}

#h1_bag_HC {
 font-size:60px;
 font-family: 'Montserrat', sans-serif;
 user-select:none;
}

#h1_bag_HC span { display:inline-block; animation:float 1s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
#bag_HC:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

#bag_HC span:nth-child(4n) { color:rgb(128, 255, 128); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
#bag_HC span:nth-child(4n-1) { color:rgb(128, 255, 128); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
#bag_HC span:nth-child(4n-2) { color:rgb(128, 255, 255); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
#bag_HC span:nth-child(4n-3) { color:rgb(255, 255, 128); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

#h1_bag_HC span:nth-child(2){ animation-delay:.05s; }
#h1_bag_HC span:nth-child(3){ animation-delay:.1s; }
#h1_bag_HC span:nth-child(4){ animation-delay:.15s; }
#h1_bag_HC span:nth-child(5){ animation-delay:.2s; }
#h1_bag_HC span:nth-child(6){ animation-delay:.25s; }
#h1_bag_HC span:nth-child(7){ animation-delay:.3s; }
#h1_bag_HC span:nth-child(8){ animation-delay:.35s; }
#h1_bag_HC span:nth-child(9){ animation-delay:.4s; }
#h1_bag_HC span:nth-child(10){ animation-delay:.45s; }
#h1_bag_HC span:nth-child(11){ animation-delay:.5s; }
#h1_bag_HC span:nth-child(12){ animation-delay:.55s; }
#h1_bag_HC span:nth-child(13){ animation-delay:.6s; }
#h1_bag_HC span:nth-child(14){ animation-delay:.65s; }

/* other */
#other_HC div,#other_HC span,#master,#other_HC section {
       margin: 0;
       padding: 0;
       border: 0;
       outline: 0;
       font-size: 100%;
       vertical-align: baseline;
       background: transparent
   }

#other_HC  a{
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       vertical-align: baseline;
       background: transparent;
       text-decoration: none;
       color: #2c9ab7
   }

#other_HC a:hover {
       text-decoration: underline
   }

   #master {
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-size: 25px;
      line-height: 1;
      font-weight: bold;
      letter-spacing: 0;
      -webkit-font-smoothing: inherit
  }

  #master {
      text-rendering: optimizeLegibility
  }

  #master-container {
      background-color: #F5C59C;
      -webkit-animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
      animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100vmin;
      min-height: 0;
      max-height: 100%;
      width: 263px;
	  height: 110px;
	  border-radius: 7px;
  }

  #master-container .content {
      height: auto;
      margin-left: inherit;
      margin-right: inherit
  }

  @media screen and (max-width: 615px) {
      #master-container {
          -webkit-animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
          animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
      }
  }

  @media screen and (max-width: 615px) {
      #master {
          font-size: 40px;
          font-line: 1.2
      }
  }

  #master-container-scroller {
      height: 27px;
      margin-bottom: -41px;
      overflow: hidden;
      position: relative
  }

  #master-container-scroller .master-container-scroller_item {
      display: block;
      padding-bottom: 41px;
      -webkit-animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
      animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
  }

  #master-container-scroller .master-container-scroller_item[href]:hover {
      text-decoration: underline
  }

  #master-container-scroller .master-container-scroller_item:nth-child(1),
  #master-container-scroller .master-container-scroller_item:nth-child(1) a {
      color: #E65F48
  }

  #master-container-scroller .master-container-scroller_item:nth-child(2),
  #master-container-scroller .master-container-scroller_item:nth-child(2) a {
      color: #E65F48
  }

  #master-container-scroller .master-container-scroller_item:nth-child(3),
  #master-container-scroller .master-container-scroller_item:nth-child(3) a {
      color: #76BCAD
  }

  #master-container-scroller .master-container-scroller_item:nth-child(4),
  #master-container-scroller .master-container-scroller_item:nth-child(4) a {
      color: #84719f
  }

  #master-container-scroller .master-container-scroller_item:nth-child(5),
  #master-container-scroller .master-container-scroller_item:nth-child(5) a {
      color: #d47787
  }

  #master-container-scroller .master-container-scroller_item:nth-child(6),
  #master-container-scroller .master-container-scroller_item:nth-child(6) a {
      color: #F09551
  }

  #master-container-scroller .master-container-scroller_item:nth-child(7),
  #master-container-scroller .master-container-scroller_item:nth-child(7) a {
      color: #349AB5
  }

  #master-container-scroller .master-container-scroller_item:nth-child(8),
  #master-container-scroller .master-container-scroller_item:nth-child(8) a {
      color: #e86042
  }

  #master-container-scroller .master-container-scroller_item:nth-child(9),
  #master-container-scroller .master-container-scroller_item:nth-child(9) a {
      color: #74bcae
  }

  #master-container-scroller .master-container-scroller_item:nth-child(10),
  #master-container-scroller .master-container-scroller_item:nth-child(10) a {
      color: #E65F48
  }

  @media screen and (max-width: 615px) {
      #master-container-scroller {
          height: 48px;
          line-height: 1.2;
          margin-bottom: 0
      }
      #master-container-scroller .master-container-scroller_item {
          padding-bottom: 0;
          -webkit-animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
          animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(1) .grid_item-overlay {
      background-color: rgba(230, 95, 72, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(1) .grid_item-overlay .link:hover {
          color: #E65F48
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(2) .grid_item-overlay {
      background-color: rgba(230, 95, 72, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(2) .grid_item-overlay .link:hover {
          color: #E65F48
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(3) .grid_item-overlay {
      background-color: rgba(118, 188, 173, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(3) .grid_item-overlay .link:hover {
          color: #76BCAD
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(4) .grid_item-overlay {
      background-color: rgba(132, 113, 159, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(4) .grid_item-overlay .link:hover {
          color: #84719f
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(5) .grid_item-overlay {
      background-color: rgba(212, 119, 135, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(5) .grid_item-overlay .link:hover {
          color: #d47787
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(6) .grid_item-overlay {
      background-color: rgba(240, 149, 81, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(6) .grid_item-overlay .link:hover {
          color: #F09551
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(7) .grid_item-overlay {
      background-color: rgba(52, 154, 181, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(7) .grid_item-overlay .link:hover {
          color: #349AB5
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(8) .grid_item-overlay {
      background-color: rgba(232, 96, 66, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(8) .grid_item-overlay .link:hover {
          color: #e86042
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(9) .grid_item-overlay {
      background-color: rgba(116, 188, 174, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(9) .grid_item-overlay .link:hover {
          color: #74bcae
      }
  }

  #master-container-grid .master-container-grid_item:nth-child(10) .grid_item-overlay {
      background-color: rgba(230, 95, 72, 0.9)
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item:nth-child(10) .grid_item-overlay .link:hover {
          color: #E65F48
      }
  }

  #master-container-grid .master-container-grid_item .img {
      position: relative
  }

  #master-container-grid .master-container-grid_item .grid_item-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 26px;
      font-weight: bold;
      color: #fff;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      text-decoration: none
  }

  #master-container-grid .master-container-grid_item .grid_item-overlay:hover {
      opacity: 1
  }

  #master-container-grid .master-container-grid_item .grid_item-overlay .link {
      display: inline-block;
      box-shadow: 0 1px 0 0 #fff, inset 0 0 0 #fff;
      transition: box-shadow .2s ease
  }

  #master-container-grid .master-container-grid_item .grid_item-overlay .link:hover {
      box-shadow: 0 2px 0 0 #fff, inset 0 -1px 0 0 #fff
  }

  @media screen and (max-width: 520px) {
      #master-container-grid .master-container-grid_item {
          margin-bottom: 18px
      }
      #master-container-grid .master-container-grid_item .grid_item-overlay {
          position: relative;
          background: none !important;
          color: #3a3a3a;
          opacity: 1;
          display: block;
          margin-top: 18px;
          text-align: left
      }
      #master-container-grid .master-container-grid_item .grid_item-overlay .link {
          box-shadow: none
      }
      #master-container-grid .master-container-grid_item .grid_item-overlay .link:hover {
          text-decoration: underline
      }
  }

  @-webkit-keyframes master-container-bg {
      0.0% {
          background-color: #F5C59C
      }
      3.7037037037037037% {
          background-color: #F5C59C
      }
      11.11111111111111% {
          background-color: #ECC9CB
      }
      14.814814814814815% {
          background-color: #ECC9CB
      }
      22.22222222222222% {
          background-color: #D9E2CB
      }
      25.925925925925927% {
          background-color: #D9E2CB
      }
      33.333333333333336% {
          background-color: #f6c599
      }
      37.03703703703704% {
          background-color: #f6c599
      }
      44.44444444444444% {
          background-color: #c4bbd3
      }
      48.148148148148145% {
          background-color: #c4bbd3
      }
      55.55555555555556% {
          background-color: #F9E7AF
      }
      59.25925925925926% {
          background-color: #F9E7AF
      }
      66.66666666666667% {
          background-color: #B4E2EE
      }
      70.37037037037037% {
          background-color: #B4E2EE
      }
      77.77777777777777% {
          background-color: #cbe5f4
      }
      81.48148148148148% {
          background-color: #cbe5f4
      }
      88.88888888888889% {
          background-color: #d2e7e2
      }
      92.5925925925926% {
          background-color: #d2e7e2
      }
      100.0% {
          background-color: #F5C59C
      }
  }

  @keyframes master-container-bg {
      0.0% {
          background-color: #F5C59C
      }
      3.7037037037037037% {
          background-color: #F5C59C
      }
      11.11111111111111% {
          background-color: #ECC9CB
      }
      14.814814814814815% {
          background-color: #ECC9CB
      }
      22.22222222222222% {
          background-color: #D9E2CB
      }
      25.925925925925927% {
          background-color: #D9E2CB
      }
      33.333333333333336% {
          background-color: #f6c599
      }
      37.03703703703704% {
          background-color: #f6c599
      }
      44.44444444444444% {
          background-color: #c4bbd3
      }
      48.148148148148145% {
          background-color: #c4bbd3
      }
      55.55555555555556% {
          background-color: #F9E7AF
      }
      59.25925925925926% {
          background-color: #F9E7AF
      }
      66.66666666666667% {
          background-color: #B4E2EE
      }
      70.37037037037037% {
          background-color: #B4E2EE
      }
      77.77777777777777% {
          background-color: #cbe5f4
      }
      81.48148148148148% {
          background-color: #cbe5f4
      }
      88.88888888888889% {
          background-color: #d2e7e2
      }
      92.5925925925926% {
          background-color: #d2e7e2
      }
      100.0% {
          background-color: #F5C59C
      }
  }

  @-webkit-keyframes master-container-bg-mobile {
      0.0% {
          background-color: #F5C59C
      }
      3.7037037037037037% {
          background-color: #F5C59C
      }
      11.11111111111111% {
          background-color: #ECC9CB
      }
      14.814814814814815% {
          background-color: #ECC9CB
      }
      22.22222222222222% {
          background-color: #D9E2CB
      }
      25.925925925925927% {
          background-color: #D9E2CB
      }
      33.333333333333336% {
          background-color: #f6c599
      }
      37.03703703703704% {
          background-color: #f6c599
      }
      44.44444444444444% {
          background-color: #c4bbd3
      }
      48.148148148148145% {
          background-color: #c4bbd3
      }
      55.55555555555556% {
          background-color: #F9E7AF
      }
      59.25925925925926% {
          background-color: #F9E7AF
      }
      66.66666666666667% {
          background-color: #B4E2EE
      }
      70.37037037037037% {
          background-color: #B4E2EE
      }
      77.77777777777777% {
          background-color: #cbe5f4
      }
      81.48148148148148% {
          background-color: #cbe5f4
      }
      88.88888888888889% {
          background-color: #d2e7e2
      }
      92.5925925925926% {
          background-color: #d2e7e2
      }
      100.0% {
          background-color: #F5C59C
      }
  }

  @keyframes master-container-bg-mobile {
      0.0% {
          background-color: #F5C59C
      }
      3.7037037037037037% {
          background-color: #F5C59C
      }
      11.11111111111111% {
          background-color: #ECC9CB
      }
      14.814814814814815% {
          background-color: #ECC9CB
      }
      22.22222222222222% {
          background-color: #D9E2CB
      }
      25.925925925925927% {
          background-color: #D9E2CB
      }
      33.333333333333336% {
          background-color: #f6c599
      }
      37.03703703703704% {
          background-color: #f6c599
      }
      44.44444444444444% {
          background-color: #c4bbd3
      }
      48.148148148148145% {
          background-color: #c4bbd3
      }
      55.55555555555556% {
          background-color: #F9E7AF
      }
      59.25925925925926% {
          background-color: #F9E7AF
      }
      66.66666666666667% {
          background-color: #B4E2EE
      }
      70.37037037037037% {
          background-color: #B4E2EE
      }
      77.77777777777777% {
          background-color: #cbe5f4
      }
      81.48148148148148% {
          background-color: #cbe5f4
      }
      88.88888888888889% {
          background-color: #d2e7e2
      }
      92.5925925925926% {
          background-color: #d2e7e2
      }
      100.0% {
          background-color: #F5C59C
      }
  }

  @-webkit-keyframes scroll {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      3.7037037037037037% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      11.11111111111111% {
          -webkit-transform: translateY(-66px);
          transform: translateY(-66px)
      }
      14.814814814814815% {
          -webkit-transform: translateY(-66px);
          transform: translateY(-66px)
      }
      22.22222222222222% {
          -webkit-transform: translateY(-132px);
          transform: translateY(-132px)
      }
      25.925925925925927% {
          -webkit-transform: translateY(-132px);
          transform: translateY(-132px)
      }
      33.333333333333336% {
          -webkit-transform: translateY(-198px);
          transform: translateY(-198px)
      }
      37.03703703703704% {
          -webkit-transform: translateY(-198px);
          transform: translateY(-198px)
      }
      44.44444444444444% {
          -webkit-transform: translateY(-264px);
          transform: translateY(-264px)
      }
      48.148148148148145% {
          -webkit-transform: translateY(-264px);
          transform: translateY(-264px)
      }
      55.55555555555556% {
          -webkit-transform: translateY(-330px);
          transform: translateY(-330px)
      }
      59.25925925925926% {
          -webkit-transform: translateY(-330px);
          transform: translateY(-330px)
      }
      66.66666666666667% {
          -webkit-transform: translateY(-396px);
          transform: translateY(-396px)
      }
      70.37037037037037% {
          -webkit-transform: translateY(-396px);
          transform: translateY(-396px)
      }
      77.77777777777777% {
          -webkit-transform: translateY(-462px);
          transform: translateY(-462px)
      }
      81.48148148148148% {
          -webkit-transform: translateY(-462px);
          transform: translateY(-462px)
      }
      88.88888888888889% {
          -webkit-transform: translateY(-528px);
          transform: translateY(-528px)
      }
      92.5925925925926% {
          -webkit-transform: translateY(-528px);
          transform: translateY(-528px)
      }
      100.0% {
          -webkit-transform: translateY(-594px);
          transform: translateY(-594px)
      }
  }

  @keyframes scroll {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      3.7037037037037037% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      11.11111111111111% {
          -webkit-transform: translateY(-66px);
          transform: translateY(-66px)
      }
      14.814814814814815% {
          -webkit-transform: translateY(-66px);
          transform: translateY(-66px)
      }
      22.22222222222222% {
          -webkit-transform: translateY(-132px);
          transform: translateY(-132px)
      }
      25.925925925925927% {
          -webkit-transform: translateY(-132px);
          transform: translateY(-132px)
      }
      33.333333333333336% {
          -webkit-transform: translateY(-198px);
          transform: translateY(-198px)
      }
      37.03703703703704% {
          -webkit-transform: translateY(-198px);
          transform: translateY(-198px)
      }
      44.44444444444444% {
          -webkit-transform: translateY(-264px);
          transform: translateY(-264px)
      }
      48.148148148148145% {
          -webkit-transform: translateY(-264px);
          transform: translateY(-264px)
      }
      55.55555555555556% {
          -webkit-transform: translateY(-330px);
          transform: translateY(-330px)
      }
      59.25925925925926% {
          -webkit-transform: translateY(-330px);
          transform: translateY(-330px)
      }
      66.66666666666667% {
          -webkit-transform: translateY(-396px);
          transform: translateY(-396px)
      }
      70.37037037037037% {
          -webkit-transform: translateY(-396px);
          transform: translateY(-396px)
      }
      77.77777777777777% {
          -webkit-transform: translateY(-462px);
          transform: translateY(-462px)
      }
      81.48148148148148% {
          -webkit-transform: translateY(-462px);
          transform: translateY(-462px)
      }
      88.88888888888889% {
          -webkit-transform: translateY(-528px);
          transform: translateY(-528px)
      }
      92.5925925925926% {
          -webkit-transform: translateY(-528px);
          transform: translateY(-528px)
      }
      100.0% {
          -webkit-transform: translateY(-594px);
          transform: translateY(-594px)
      }
  }

  @-webkit-keyframes scroll-mobile {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      3.7037037037037037% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      11.11111111111111% {
          -webkit-transform: translateY(-48px);
          transform: translateY(-48px)
      }
      14.814814814814815% {
          -webkit-transform: translateY(-48px);
          transform: translateY(-48px)
      }
      22.22222222222222% {
          -webkit-transform: translateY(-96px);
          transform: translateY(-96px)
      }
      25.925925925925927% {
          -webkit-transform: translateY(-96px);
          transform: translateY(-96px)
      }
      33.333333333333336% {
          -webkit-transform: translateY(-144px);
          transform: translateY(-144px)
      }
      37.03703703703704% {
          -webkit-transform: translateY(-144px);
          transform: translateY(-144px)
      }
      44.44444444444444% {
          -webkit-transform: translateY(-192px);
          transform: translateY(-192px)
      }
      48.148148148148145% {
          -webkit-transform: translateY(-192px);
          transform: translateY(-192px)
      }
      55.55555555555556% {
          -webkit-transform: translateY(-240px);
          transform: translateY(-240px)
      }
      59.25925925925926% {
          -webkit-transform: translateY(-240px);
          transform: translateY(-240px)
      }
      66.66666666666667% {
          -webkit-transform: translateY(-288px);
          transform: translateY(-288px)
      }
      70.37037037037037% {
          -webkit-transform: translateY(-288px);
          transform: translateY(-288px)
      }
      77.77777777777777% {
          -webkit-transform: translateY(-336px);
          transform: translateY(-336px)
      }
      81.48148148148148% {
          -webkit-transform: translateY(-336px);
          transform: translateY(-336px)
      }
      88.88888888888889% {
          -webkit-transform: translateY(-384px);
          transform: translateY(-384px)
      }
      92.5925925925926% {
          -webkit-transform: translateY(-384px);
          transform: translateY(-384px)
      }
      100.0% {
          -webkit-transform: translateY(-432px);
          transform: translateY(-432px)
      }
  }

  @keyframes scroll-mobile {
      0.0% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      3.7037037037037037% {
          -webkit-transform: translateY(0px);
          transform: translateY(0px)
      }
      11.11111111111111% {
          -webkit-transform: translateY(-48px);
          transform: translateY(-48px)
      }
      14.814814814814815% {
          -webkit-transform: translateY(-48px);
          transform: translateY(-48px)
      }
      22.22222222222222% {
          -webkit-transform: translateY(-96px);
          transform: translateY(-96px)
      }
      25.925925925925927% {
          -webkit-transform: translateY(-96px);
          transform: translateY(-96px)
      }
      33.333333333333336% {
          -webkit-transform: translateY(-144px);
          transform: translateY(-144px)
      }
      37.03703703703704% {
          -webkit-transform: translateY(-144px);
          transform: translateY(-144px)
      }
      44.44444444444444% {
          -webkit-transform: translateY(-192px);
          transform: translateY(-192px)
      }
      48.148148148148145% {
          -webkit-transform: translateY(-192px);
          transform: translateY(-192px)
      }
      55.55555555555556% {
          -webkit-transform: translateY(-240px);
          transform: translateY(-240px)
      }
      59.25925925925926% {
          -webkit-transform: translateY(-240px);
          transform: translateY(-240px)
      }
      66.66666666666667% {
          -webkit-transform: translateY(-288px);
          transform: translateY(-288px)
      }
      70.37037037037037% {
          -webkit-transform: translateY(-288px);
          transform: translateY(-288px)
      }
      77.77777777777777% {
          -webkit-transform: translateY(-336px);
          transform: translateY(-336px)
      }
      81.48148148148148% {
          -webkit-transform: translateY(-336px);
          transform: translateY(-336px)
      }
      88.88888888888889% {
          -webkit-transform: translateY(-384px);
          transform: translateY(-384px)
      }
      92.5925925925926% {
          -webkit-transform: translateY(-384px);
          transform: translateY(-384px)
      }
      100.0% {
          -webkit-transform: translateY(-432px);
          transform: translateY(-432px)
      }
  }


/**/
#homeContent{
	margin: 0 auto;
	width:100%;
	
}
.area_homeContent{
	margin: 0 auto;
	width:100%;
	height: 1100px;
}
.area_ListContent{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width:1340px;
	height: 550px;
}
.area_advContnet{
	margin: 0 auto;
	width:100%;
	height: 550px;
}
.homeTitle{
	height:38px;
	line-height: 38px;
	font-size: 25px;
	color: #FFD600;
	font-family: 'Kanit', sans-serif;
	
}
.homeSubtitle{
	height: 25px;
	line-height: 25px;
	font-size: 20px;
	color: #AFAFAF;
	font-family: 'HakgyoansimWoojuR';
	font-weight: bold;
}
/*list*/
#area_List_home{
	display: flex;
	justify-content: space-between;
	width: 100%;
	
}
.homePost_resell{
	width: 261px;
	height: auto;
}
#area_List_home img{
	width:261px;
	height:261px;
	border-radius: 10px;
	background: ghostwhite;
}
.homePostTitle_resell{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	font-weight: 10;
}
.textBottom_homePost{
	width: 100%;
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
}
.homePostPrice_resell{
	font-family: 'Abril Fatface', serif;
	color: #56CCF2;
	font-weight: bold;
	font-size: 25px;
}
.homePostTime_resell{
	font-family: 'Nanum Pen Script', cursive;
	font-size: 25px;
}

/* 더보기 버튼 디자인*/
.homeMore{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 30px;
	
}
.homeMore *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-hover {
    width: 90px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    height: 37px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 1px 1px 5px 0 rgb(192, 192, 192);
}
/*_________________________*/

/*banner_cody*/
.area_advContnet{
	display: flex;
	justify-content: center
}
.topArea_adv{
	width: 436px;
	height: 550px;
}
.bottomArea_adv{
	width: 904px;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#adv_cody{
	background: #ececec;
 	background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}
#bannerImg_cody{
	width: 441px;
	height: 550px;
	border: 5px solid black;
}
/*adv 제목 효과*/
.shadow{
  font-family: 'IAMAPLAYER';
  color: rgb(0, 0, 0);
  font-size: 80px;
  text-align:center;
  text-shadow: 0 -3px 0 rgb(255, 128, 128),
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}
/*adv 제목 효과 - 끝*/

/*adv 링크 효과*/
.adv_homeLink{
	margin-top: 50px;
}
.menu a {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  font-weight: 400;
  /**/
  position: relative;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.SMN_effect-11 a:before {
  color: rgb(255, 255, 255);
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.SMN_effect-11 a:hover:before, .SMN_effect-11 a:focus:before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
#homeContentLink_cody{
	background: rgb(0, 0, 0);
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(131,58,180,1) 50%, rgba(255,214,0,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 -3px 0 rgb(255, 128, 128),
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}


/*adv 링크 효과 - 끝*/
/*list_style*/
#homePost_style{
	display: flex;
	justify-content: space-between;
}
.homePostImg_style{
	width: 220px;
	height: 300px;
	border-radius: 10px;
}
.homePostImg_style>a{
	display: flex;
}
.homePostImg_style>a>img{
	width: 220px;
	height: 300px;
	border-radius: 10px;
}
.onContent_img{
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
}
.homePostImg_profile_style{
	width: 39px;
	height: 39px;
	line-height: 39px;
	margin: 5px;
	border-radius: 100%;
}
.homePostImg_userid_style{
	margin: 5px;
	font-family: 'Poppins', sans-serif;
	color: white;
}

/*banner_style*/
#advStyle{
	background: url("/mingle/img/home/advStyle_bg_2.png");
	width: 100%;
	height: 550px;
	display: flex;
	align-items: center;
}

#advStyle_TEXT{
	font-family: 'Shadows Into Light', cursive;
	font-size: 150px;
	font-weight: bold;
	color: white;
	text-shadow: 4px 4px 10px gray;
}
#advStyle_TEXT span{
	margin-left: 30px;
}
#homeContentLink_style{
	color : rgb(128, 255, 255);
	text-shadow: 4px 4px 10px rgb(0, 0, 255);
}