@charset "UTF-8";


.wrapper {
	padding-top:110px;
}

/* 메인 부분 */
.resell_main {
	width:1280px;
	display:flex;
	margin-top:20px;

}

/* 위쪽 검색창, 탭부분 */
.resell_top {
	width:1280px;
	display:flex;
	justify-content:right;
	text-align:center;
	
}
.resell_top>li {
	width:100px;
	text-align:center;
	margin-top:10px;
	padding-bottom:5px;
}
.resell_top>li:nth-child(1) {
	width:560px;

	display:flex;
	justify-content:left;

}
.resell_search {
	position:relative;
}
.resell_search input {

	width:38px;
	height:36px;
	border:3px solid #FFC107;
	border-radius:20px;
	font-size:0.8em;
	transition: width 0.3s ease-in-out;
	color:white;
}
.resell_search > img {
	width:24px;
	height:24px;
	position:absolute;
	top:6px;
	left:7px;
}



/* 상단 밑줄 애니메이션 */
.choose {
	cursor: pointer;
	position: relative;
	display: inline-block;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}
.choose::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background-color: #FFC107;
    transition: width 0.3s ease-in-out;
}
.choose.active::before {
    width: 100%;
    transform: translateX(-50%);
}
.choose:hover {
	color:#FFC107;
}



/* 중간 왼쪽 탭 부분 */
.resell_left {
	width:200px;
	display:flex;
	flex-direction:column;
	justify-content:right;
}
.resell_left>div {
	margin-bottom:10px;
}
.moreView {
	color:#FFC107;
	font-weight:bold;
	cursor:pointer;
}
.category {
    overflow:hidden;
    line-height:30px;
    display:none;
}
.category > li {
	font-weight:bold;
}

/* 중앙 오른쪽 리셀 부분 */
.resell_list {
	display:flex;
	box-sizing: border-box;
	width:1080px;
	justify-content:space-evenly;
	flex-wrap: wrap;
}
.list_box {
	border:1px solid black;
	height:400px;
	width:250px;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
    align-content: center;
    padding:15px 0 10px;
    margin-bottom:20px;
}
.list_box > img {
	width:220px;
	height:260px;
}
.list_box > div {
	text-align:right;
}
.resell_left_topic {
	border-bottom:4px solid #FFC107;
	width:180px;
	display:flex;
	justify-content: space-between;
	
}

.list_box > a {
	color:black;
	height:58px;
	font-weight:bold;
}
.recell_price {
	font-weight:bold;
	color:deepskyblue;
}
.recell_time {
	font-size:0.8em;
	color:lightgray;
}



/* 페이지 수 보기 */
.page_select {
	display:flex;
	justify-content:center;
	text-align:center;
	margin-bottom:20px;
}

.page_numbering {
	display:flex;
	justify-content:center;
	width:200px;
}
.page_numbering > * {
	width:30px;
}



/* 여기는 실험 부분 */
.test {
	width:40px;
	height:40px;
	background:aqua;	
}

.test2 {
	width:40px;
	height:40px;
	background:#FFC107;
    transition:transform 0.5s ease;
}
