.board_list_now {
	display : flex;
	width : 800px;
	/*height : auto;*/
	justify-content: space-between;
	flex-wrap: wrap;
}

.board_list_week {
	display : flex;
	width : 800px;
	/*height : auto;*/
	
}

.board_list_month {
	display : flex;
	width : 800px;
	height : auto;
	
}

.board_items {
	width : 170px;
	height : auto;
	display : inline-block;
	justify-content: center;
	margin-bottom : 20px;
	
}

.heart {
	font-size: 20px; 
    color: red; 
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    float: right;
}

.img{
	width : 150px;
	height : 200px;
	border-radius: 10px;
	margin-bottom : 5px;
}

.imgdiv{
	position: relative;
	width : 150px;
	border-radius: 10px;
	counter-increment: divCounter;
}

.imgdiv::before {
    content: counter(divCounter);
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: black;
    z-index: 10;
}

.profile-img {
	width : 20px;
	height : 20px;
	border-radius: 50%;
}

.hashtag {
	font-size : 10px;
}

.username {
	font-size : 15px;
}


.board-content {
	font-size : 15px;
	width : 150px;
}

.board-name {
	font-size : 15px;
}

.board-wrap {
	height : auto;
	margin-bottom : 50px;
}

.moreview {
	display: block;
    margin: auto;
    margin-top : 10px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    width : 80px;
    height : 30px;
}