@font-face {
  font-family : 'Inika-Bold';
  src : url('/mingle/assets/fonts/Inika-Bold.ttf')
}
@font-face {
  font-family : 'Inika-Regular';
  src : url('/mingle/assets/fonts/Inika-Regular.ttf')
}

/* 공통 설정 */
:root{
  --cate-back : #FFFFFF;
  --btn-click-bg : #f0eded;
  --btn-click-ybg : #f7e175;
}

.div-mypage-main{
  display: flex;
  flex-direction: column;
  /* width: calc(1548.35px * var(--default-size)); */
  height: calc(1133px * var(--default-size));

  padding-top: calc(18px * var(--default-size));
  padding-right: calc(47.27px * var(--default-size));
  /* padding-bottom: calc(69.83px * var(--default-size)); */
  padding-left: calc(49px * var(--default-size));

  background-color: var(--cate-back);
}

.div-ub-bold{
  width: 100%;
  height: calc(85px * var(--default-size));
  /* 내부 정렬용 임시 시작*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* 내부 정렬용 임시 끝*/
  margin-top: calc(10px * var(--default-size));
  border-top: 
    calc(3px * var(--default-size)) 
    solid 
    #000000;
  border-bottom: 
  calc(3px * var(--default-size)) 
  solid 
  #000000;
  background: rgba(217, 217, 217, 0.41);
}
.div-ub-bold{
  height: calc(85px * var(--default-size));
}
.div-ub-bold div:nth-of-type(1){
  width: calc(506px * var(--default-size));
}
.div-ub-bold div:nth-of-type(2){
  width: calc(296px * var(--default-size));
  text-align: center;
}
.div-ub-bold div:nth-of-type(3){
  width: calc(417px * var(--default-size));
  text-align: center;
}

.div-item-list-area{
  display: flex;
  flex-direction: column;
}
.div-track{
  display: flex;
  flex-direction: row;
  padding: calc(15px * var(--default-size));
}
/* 상품정보 */
.div-track .div-item-area{
  width: calc(605px * var(--default-size));
  height: calc(150px * var(--default-size));

  display: flex;
  align-items: center;
}
.div-track .div-item-area img{
  width: calc(149px * var(--default-size));
  height: calc(149px * var(--default-size));
  
  margin-right: calc(11px * var(--default-size));
  border-radius: calc(10px * var(--default-size));
  background: #d9d9d9;

}
.div-track .div-item-area .div-item-script{
  width: calc(405px * var(--default-size));
  
}
.div-track .div-item-area .div-item-script .div-item-title{
  width: calc(405px * var(--default-size));
}
.div-track .div-item-area .div-item-script .div-item-contnet{
  width: calc(405px * var(--default-size));
  word-break: keep-all;
}

/* 가격 */
.div-track .div-item-price-area{
  width: calc(296px * var(--default-size));
  height: calc(150px * var(--default-size));

  display: flex;
  justify-content: center;
  align-items: center;
}
.div-track .div-item-price-area .div-item-price{

}

/* 등록일 */
.div-track .div-item-date-area{
  width: calc(417px * var(--default-size));
  height: calc(150px * var(--default-size));

  display: flex;
  justify-content: center;
  align-items: center;
}
.div-track .div-item-date-area .div-item-date{

}

.btn-more-data{
  width: calc(198px * var(--default-size));
  height: calc(54px * var(--default-size));

  margin: 0 auto;
  border-style: none;
  border-radius: calc(10px * var(--default-size));

  background: #ffb400;
  text-align: center;
  line-height: calc(54px * var(--default-size));
}
.btn-more-data:hover{
  cursor: pointer;
  background: var(--btn-click-ybg);
}


/* 폰트 사용 */
.Inika-bold-25{
  font: 700 
  calc(25px * var(--default-size))
  "Inika-Bold";
  color: #000000;
}
.Inika-bold-20w{
  font: 700 
  calc(20px * var(--default-size))
  "Inika-Bold";
  color: #ffffff;
}

.Inika-bold-20{
  font: 700 
  calc(20px * var(--default-size))
  "Inika-Bold";
  color: #000000;
}
.Inika-bold-18{
  font: 700 
  calc(18px * var(--default-size))
  "Inika-Bold";
  color: #000000;
}


.Inika-Regular-22{
  font: 400 
  calc(22px * var(--default-size))
  "Inika-Regular";
  color: #000000;
}

.Inika-Regular-20{
  font: 400 
  calc(20px * var(--default-size))
  "Inika-Regular";
  color: #000000;
}
.Inika-Regular-18{
  font: 400 
  calc(18px * var(--default-size))
  "Inika-Regular";
  color: #000000;
}
.Inika-Regular-18w{
  font: 400 
  calc(18px * var(--default-size))
  "Inika-Regular";
  color: #ffffff;
}

.Inika-Regular-16{
  font: 400 
  calc(16px * var(--default-size))
  "Inika-Regular";
  color: #000000;
}

.Inika-Regular-16-af{
  margin-bottom: calc(18px * var(--default-size));
  font: 400 
  calc(16px * var(--default-size))
  "Inika-Regular";
  color: #afafaf;
}