.wrapper {
  padding-top:90px;
}

.style_main {
  width: 1280px;
  background-color: white;
}

.style_title_container {
  float: left;
  text-align: left;
}

.style_title {
	padding-left: 30px;
  font-family: 'Kaushan Script', cursive;
  font-size: 2em;
}

.style_header_line {
  border: none;
  height: 2px;
  background-color: #000;
  width: 100%; 
}

.style_tabs_list {
	padding-right: 5px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.tab {
	padding-top: 10px;
	padding-left: 15px;
}
.tab a{
	font-family: 'Righteous', sans-serif;
	color: black;
}
.tab a:hover{
	background: linear-gradient(90deg, rgba(255,214,0,1) 0%, rgba(155,255,0,1) 35%, rgba(0,255,184,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    transition: filter 0.8s linear;
	filter: invert(79%) sepia(68%) saturate(1436%) hue-rotate(358deg) brightness(103%) contrast(104%);
}
.tab a:active{
	color: rgb(255,214,0);
}

.fillout {
	width : 187px;
	height : 51px;
background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: fixed;
bottom: 600px;
left: 80px;
text-align: center;
padding: 10px 0;
box-shadow: 0 5px 15px rgba(0,0,0,0.20);
font-weight: 700;
text-transform: uppercase;
cursor: pointer;
}